{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
#payment-container {
	background-color: #fafafa;
	margin: 5px 0px;
	margin-left: 30px;
	padding: 10px;
	border: solid .5px #fafafa;
	border-radius: 3px;
}
</style>
{% endblock %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock  %}

{% block body %}
<div class="span9">
<table class="table table-bordered">
	<tbody>
	{% for item in items %}
	<tr>
		<td> <img width="60" src="{{ item.product.image1.url }}" alt="product image"/></td>
		<td>{{ item.product.name }}</td>
		<td>
		<div class="input-append"><input class="span1" style="max-width:34px" placeholder="{{ item.quantity }}" value="{{ item.quantity }}" id="appendedInputButtons" size="16" type="text"><button class="btn update-cart" data-product="{{item.product.id}}" data-action="subtract" type="button"><i class="icon-minus"></i></button><button class="btn update-cart" data-product="{{item.product.id}}" data-action="add" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger update-cart" data-product="{{item.product.id}}" data-action="delete" type="button"><i class="icon-remove icon-white"></i></button></div>
		</td>
		<td>{{company.currency_symbol}}{{ item.product.price }}</td>
		<td>{{company.currency_symbol}}{{ item.product.discount }}</td>
		<td>{{company.currency_symbol}}{{ item.product.tax }}</td>
		<td>{{company.currency_symbol}}{{ item.price_total }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
</div>


<div id="shipping-container" class="span9">
<table class="table table-bordered">
<tr><th>ESTIMATE YOUR SHIPPING </th></tr>
<tr> 
<td>
<h4>Your address</h4>
<form class="form-horizontal" id="shipping-form" method="POST">
{% if user.is_authenticated %}
<div>
	<div class="well">
		<p>First Name: {{user.first_name}}</p>
		<p>Last Name: {{user.last_name}}</p>
		<p>Email: {{user.email}}</p>
		<p>Address: {{user.shippingdetail.address}}</p>
		<p>Apartment: {{user.shippingdetail.apartment}}</p>
		<p>State: {{user.shippingdetail.state}}</p>
		<p>Country: {{user.shippingdetail.country}}</p>
		<p>Zip/Postal code: {{user.shippingdetail.zipcode}}</p>
		<p>Home phone: {{user.shippingdetail.phone1}}</p>
		<p>Mobile phone: {{user.shippingdetail.phone2}}</p>
		</br></br></br>
		<i><h6>Change your details <a style="color: blue;" href="{% url 'Store:profile' request.user.id %}">here</a></h6></i>
	</div>
</div>
<input type="hidden" value="{{user.first_name}}" name="first-name" id="first-name" placeholder="first Name"/>
<input type="hidden" value="{{user.last_name}}" name="last-name" id="last-name" placeholder="last Name"/>
<input type="hidden" value="{{user.email}}" name="email" id="email" placeholder="email"/>
<input type="hidden" value="{{user.shippingdetail.address}}" name="address" id="address" placeholder="address"/>
<input type="hidden" value="{{user.shippingdetail.apartment}}" name="apartment" id="apartment" placeholder="apartment"/>
<input type="hidden" value="{{user.shippingdetail.city}}" name="city" id="city" placeholder="city"/>
<input type="hidden" value="{{user.shippingdetail.state}}" name="state" id="state" placeholder="state"/>
<input type="hidden" name="{{user.shippingdetail.country}}" id="country" placeholder="country"/>
<input type="hidden" name="{{user.shippingdetail.zipcode}}" id="zipcode" placeholder="zip/postal code"/> 
<input type="hidden"  name="{{user.shippingdetail.phone1}}" id="phone1" placeholder="home phone"/>
<input type="hidden"  name="{{user.shippingdetail.phone2}}" id="phone2" placeholder="mobile phone"/>
{% else %}
<div class="control-group">
	<label class="control-label" for="first-name">First Name<sup>*</sup></label>
	<div class="controls">
		<input type="text" name="first-name" id="first-name" placeholder="first Name" required/>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="last-name">Last Name<sup>*</sup></label>
	<div class="controls">
		<input type="text" name="last-name" id="last-name" placeholder="last Name" required/>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="email">Email<sup>*</sup></label>
	<div class="controls">
		<input type="email" name="email" id="email" placeholder="email" required/> <span>{% if customer.shippingaddress.email %}{{customer.shippingaddress.email}}{% else %}example@email.com{% endif %}</span>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="address">Address<sup>*</sup></label>
	<div class="controls">
		<input type="text" name="address" id="address" placeholder="address" required/> <span>{% if customer.shippingaddress.address %}{{customer.shippingaddress.address}}{% else %}Street address, P.O. box, company name, c/o{% endif %}</span>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="apartment">Apartment<sup>*</sup></label>
	<div class="controls">
		<input type="text" name="apartment" id="apartment" placeholder="apartment" required/> <span>{% if customer.shippingaddress.apartment %}{{customer.shippingaddress.address}}{% else %}Apartment, suite, unit, building, floor, etc.{% endif %}</span>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="city">City<sup>*</sup></label>
	<div class="controls">
		<input type="text" name="city" id="city" placeholder="city" required/> 
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="state">State<sup>*</sup></label>
	<div class="controls">
		<input type="text" name="state" id="state" placeholder="state" required/>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="country">Country<sup>*</sup></label>
	<div class="controls">
		<input type="text" name="country" id="country" placeholder="country" required/>
	</div>
</div>		
<div class="control-group">
	<label class="control-label" for="zipcode">Zip/Postal Code<sup>*</sup></label>
	<div class="controls">
		<input type="text" name="zipcode" id="zipcode" placeholder="zip/postal code" required/> 
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="phone1">Home phone <sup>*</sup></label>
	<div class="controls">
		<input type="text"  name="phone1" id="phone1" placeholder="home phone" required/> <span>You must register at least one phone number</span>
	</div>
</div>		
<div class="control-group">
	<label class="control-label" for="phone2">Mobile Phone </label>
	<div class="controls">
		<input type="text"  name="phone2" id="phone2" placeholder="mobile phone"/> 
	</div>
</div>

<p style="margin-left: 45px; font-weight:bold; font-size:15px"><sup>*</sup>Required field</p>
<p style="margin-left: 45px; font-size:12px">Filling your shipping address can be much of a task or hassle. <a style="color: blue;" href="{% url 'Store:login' %}">Sign up</a> with us to save your shipping details and edit anytime ;)</p><br><br>
{% endif %}

<div class="control-group">
	<div class="controls">
	<input class="btn btn-large btn-success" id="shipping-form-submit-button" type="submit" value="Proceed to make payment" />
	</div>
</div>
</form>				  
</td>
</tr>
</table>

<div id="payment-container">
	<p style="font-size:18px">Make Payment</p><hr>
	<button id="paypal" class="btn btn-large">PayPal</button></p>
	<button id="paystack" class="btn btn-large">Paystack</button></p>
</div>

</div>
<br><br>


	
{% endblock %}

{% block script %}
<!-- Paystack Inline CDN -->
<script src="https://js.paystack.co/v2/inline.js"></script>

<script type="text/javascript">
	//THIS ENTIRE SCRIPT CODE IS FOR CHECKOUT AND PAYMENT PROCESSING

	/*
	This code checks our order if we have a non digital or physical item
	on our order Items. If we have then we display shipping-info form. 
	else we hide the form
	*/
	let shipping = "{{order.shipping}}"
		total = parseInt("{{order.total}}"),
		shippingContainer = document.getElementById('shipping-container'),
		shippingForm = document.getElementById('shipping-form'),
		formButton = document.getElementById('shipping-form-submit-button'),
		paymentContainer = document.getElementById('payment-container'),
		paypal = document.getElementById('paypal'),
		paystack = document.getElementById('paystack'),
		shippingFormData = null;

	
	console.log(shipping)
				 
	//payment container is set hidden by default with this line
	paymentContainer.classList.add("hidden")

    //hide entire form if shipping is false since we dont have a physical product
	//to ship
	if (shipping == 'False'){
		shippingContainer.innerHTML = '';
	}

	//this is for authenticated users having only digital products to pay for
	if (shipping == 'False' && user != 'AnonymousUser'){
		//hide entire form container if user is logged in and shipping is false
		shippingContainer.classList.add("hidden");
		//show payment if user wants to pay for an item that is digital
		paymentContainer.classList.remove("hidden");
	}
    
	shippingForm.addEventListener('submit', (e)=>{
		e.preventDefault()
		formButton.classList.add("hidden");
		paymentContainer.classList.remove("hidden");


		paystack.addEventListener('click', function(e){
			e.preventDefault();
			console.log('Paystack button clicked')
			payWithPaystack();
		})

		paypal.addEventListener('click', function(e){
			e.preventDefault();
			console.log('Paypal button clicked')
		})
	})
	

//Functions
function payWithPaystack() {
  const paystack = new PaystackPop();

  paystack.newTransaction({

    key: '{{public_key}}', // Replace with your public key

    email: document.getElementById('email').value,

    amount: total * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit

    currency: "NGN", // Use GHS for Ghana Cedis or USD for US Dollars

    ref: "" + Math.floor(Math.random() * 1000000000 + 1), // Replace with a reference you generated

    onSuccess: (transaction) => {
      // Payment complete! Reference: transaction.reference
	  console.log('success', transaction.reference)
	  submitFormData(transaction.reference);
    },
  
    onCancel: () => {
      // user closed popup
      alert('Payment aborted');
    }

  });
}

	function submitFormData(ref){
		let url = '/process_order/'

		if (shipping != 'False'){
			shippingFormData = {
				'first-name': document.getElementById('first-name').value,
				'last-name': document.getElementById('last-name').value,
				'address': document.getElementById('address').value,
				'apartment': document.getElementById('apartment').value,
				'city': document.getElementById('city').value,
				'state': document.getElementById('state').value,
				'country': document.getElementById('country').value,
				'zipcode': document.getElementById('zipcode').value,
				'phone1': document.getElementById('phone1').value,
				'phone2': document.getElementById('phone2').value,
				'email': document.getElementById('email').value,
				'total': total,
				'transaction-id':ref
			}
		}

		console.log(shippingFormData)

		fetch(url, {
			method: "POST",
			headers: {
				'Content-Type': 'application/json',
				'X-CSRFToken': csrftoken,
			},
			body: JSON.stringify({'shippingFormData':shippingFormData})
		})
		.then((response)=>{
			data = response.json()
			return data
		})
		.then((data)=>{
			console.log('success:', data)
			alert('Transaction complete!')
			window.location.href = "{% url 'Store:index' %}"
		})
	}
	</script>
{% endblock %}