{% extends 'base.html' %}
{% load static %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock  %}

{% block body %}
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Login</li>
    </ul>
	<h3> Login</h3>	
	<hr class="soft"/>
	
	<div class="row">
		<div class="span1"> &nbsp;</div>
		<div class="span4">
			<div class="well">
			<h5>Enter Your Details</h5>
			<form method="POST">
			{% csrf_token %}
    		<div>
			{% for message in messages %}
			{{ message }}
			{% endfor %}
			<form method="POST">
			{% csrf_token %}
			{{ form }}
			<div style="margin-top:15px;">
			<button type="submit" id="form-button">Login</button>
			</div>
            </form>
            </div>
		</div>
		</div>
	</div>
{% endblock %}